body{
background-color:#138d75;
}
h1{
color:#DE3163;
background-color:white;
}
h2{
color:#CCCCFF;
background-color:#FF7F50
}
.trial{
float:right;
width:250px;
height:250px;
}
.Breeze{
float:right;
width:250px;
height:250;
}
.TS{
float:right;
width:250px;
height:250px;
}
.Cb{
float:right;
width:250px;
height:250px;
}
.Cra{
float:right;
width:250px;
height:250px;
}
button{
width:115px;
height:115px;
background-color:blue;
border:3px double purple;
border-radius:10px;
}
a{
color:white;
}
.gip{
border:2px solid green;
}