body{
background-color:ff5733;
}
h2,h1{
color:white;
background-color:086b0e;
}
.brown{
float:right;
width:250px;
height:250px;
}
.red{
float:right;
width:250px;
height:250px;
}
.black{
float:right;
width:250px;
height:250px;
}
.cat{
float:right;
width:250px;
height:250px;
}
button{
width:115px;
height:115px;
background-color:blue;
border:3px double purple;
border-radius:10px;
}
a{
color:white;
}
.gi{
border:2px solid red;
}